@model List<ProductModel>
@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Список доступных товаров: </h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Описание</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price.ToString("N0") ₽</td>
            <td>@product.Description</td>
            <td>
                <form asp-action="AddProduct" method="post">
                    <input type="hidden" name="productName" value="@product.Name" />
                    <button type="submit" class="btn btn-primary">В корзину</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>